/*
 * Drawer component
 *
 */
@import '../../modal/style/modal-mixins';

:root {
  --modal-drawer-width: 40vw;
  --modal-drawer-min-width: 25rem;
  --modal-drawer-max-width: 40rem;
  --modal-drawer-header-min-height: 6rem;
}

.dnb-modal {
  &__content {
    &--drawer {
      align-items: flex-start;
      justify-content: flex-start;
    }
    &--drawer &__inner {
      @include modalFullscreen(); // 'drawer'

      width: var(--modal-drawer-width);
      min-width: var(--modal-drawer-min-width);
      max-width: var(--modal-drawer-max-width);

      @include allBelow(small) {
        width: 100vw;
        min-width: auto;
        max-width: auto;
      }
    }

    &--drawer#{&}--top &__inner,
    &--drawer#{&}--bottom &__inner {
      max-width: 100%; // Edge/IE overflow fix
      width: 100vw;
      height: 40vh;

      @media screen and (max-height: 40em) {
        height: 100vw;
        min-height: auto;
        max-height: auto;
      }
    }
    &--drawer#{&}--right {
      justify-content: flex-end;
    }
    &--drawer#{&}--bottom {
      align-items: flex-end;
    }

    // Drawer animation
    html:not([data-visual-test]) &--drawer#{&}--left &__inner {
      transform: translate3d(-20rem, 0, 0);
    }
    html:not([data-visual-test]) &--drawer#{&}--right &__inner {
      transform: translate3d(20rem, 0, 0);
    }
    html:not([data-visual-test]) &--drawer#{&}--top &__inner {
      transform: translate3d(0, -20rem, 0);
    }
    html:not([data-visual-test]) &--drawer#{&}--bottom &__inner {
      transform: translate3d(0, 20rem, 0);
    }
    html:not([data-visual-test]) &--drawer &__inner {
      opacity: 0.1;
      animation: show-drawer var(--modal-animation-duration) ease-out
        forwards;
    }
    html:not([data-visual-test]) &--drawer#{&}--hide#{&}--left &__inner {
      animation: hide-drawer-left var(--modal-animation-duration)
        ease-in-out forwards;
    }
    html:not([data-visual-test]) &--drawer#{&}--hide#{&}--right &__inner {
      animation: hide-drawer-right var(--modal-animation-duration)
        ease-in-out forwards;
    }
    html:not([data-visual-test]) &--drawer#{&}--hide#{&}--top &__inner {
      animation: hide-drawer-top var(--modal-animation-duration)
        ease-in-out forwards;
    }
    html:not([data-visual-test]) &--drawer#{&}--hide#{&}--bottom &__inner {
      animation: hide-drawer-bottom var(--modal-animation-duration)
        ease-in-out forwards;
    }
    &--drawer &__wrapper {
      padding-bottom: calc(var(--modal-spacing) * 2);
    }
    &--drawer &__title ~ &__wrapper {
      padding-top: calc(var(--modal-spacing) / 1.333333);
    }
  }
  &__content--drawer &__content__spacing {
    position: relative;
    z-index: 10;
    background-color: var(--modal-background-color, transparent);
  }
  &__content--spacing#{&}__content--drawer &__header {
    min-height: var(--modal-drawer-header-min-height);
  }
  &__content--drawer &__wrapper__inner {
    margin-bottom: calc(var(--modal-spacing-minus) * 2);

    @include IS_SAFARI_MOBILE {
      padding-bottom: calc(var(--modal-spacing-minus) * 8);
    }
  }
  &__content--spacing#{&}__content--drawer &__header__bar.dnb-section {
    position: sticky;
    top: 0;
    z-index: 99; // below #dropdown and #date-picker

    // on large screens
    margin: calc(var(--modal-spacing) * 1.75) 0;
    @include allBelow(medium) {
      margin: var(--modal-spacing) 0;
    }
  }
  &__content--spacing#{&}__content--drawer
    &__header__bar.dnb-section#{&}__header__bar--sticky {
    z-index: 2999; // above #dropdown and #date-picker and below #modal
  }

  &__content--drawer &__header__bar--sticky {
    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -50%;
      right: -50%;
      bottom: 0;
      height: 300%; // hide the top shadow

      @include defaultDropShadow();
    }
  }
  &__content--drawer &__header__bar:not(#{&}__header__bar--sticky) {
    &::after {
      color: transparent;
    }
  }
  &__overlay {
    &--drawer {
      animation: show-modal-overlay var(--modal-animation-duration)
        ease-out forwards 100ms;
    }
  }
}

[data-visual-test].hide-page-content #___gatsby {
  // NB: visibility: hidden; does not work here, because puppeteer does not find the selectors anymore
  opacity: 0;
}
